<div class="container">

  <div class="row">

    <div class="col-sm">
      <br><br><br><br><br>
      <h1>Sobre o SmartBell</h1>
      <br><br>
      <p>
        A ideia do projeto consiste em uma melhoria da tradicional campainha, 
        melhorando de um simples "bip" dentro de sua casa, 
        para receber uma notificação em seu celular,
        mantendo o controle de fluxo de sua casa até mesmo longe dela.
      </p>
    
      <p>
          O nosso objetivo é que mesmo quando não estiver em casa, 
          você possa ter o controle da sua campainha no seu dispositivo móvel, 
          recebendo imagens ao vivo de quem tocou e se desejável, 
          até a abertura automático seu portão.
      </p>
    </div>

    <div style ="text-align: center"class="col-sm">
      <br><br><br>
      <img src="assets/bell.jpg" width="400px" height="400px">
    </div>

  </div>

</div>

