<div class="container">

  <br>

  <div class="row">
    <h1 class="text-center col-12">Mockup</h1>
  </div>

  <br>

  <div style="margin: 0px auto 0px auto" class="row">

    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/keyboard.png">
      </div>
  
    </div>
  
    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/wait.png">
      </div>
  
    </div>
  
    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/allowed.png">
      </div>
  
    </div>
  
    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/denied.png">
      </div>
  
    </div>
  
  </div>

  <div style="margin: 0px auto 0px auto" class="row">

    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/finished.png">
      </div>
  
    </div>
  
    <div class="col-sm-3">
  
      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/lock.png">
      </div>
  
    </div>
    
  </div>

</div>