<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand text-white">SmartBell</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item active">
        <a class="nav-link"
          (click)="navigateToIdeia()">
          Idéia 
          <span class="sr-only" 
            *ngIf="isActiveLink('/ideia')">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
          (click)="navigateToCanvas()">
          Canvas 
          <span class="sr-only" 
            *ngIf="isActiveLink('/canvas')">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
          (click)="navigateToDiagrams()">
          Diagramas 
          <span class="sr-only" 
            *ngIf="isActiveLink('/diagrams')">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
        (click)="navigateToMockup()">
        Mockup 
        <span class="sr-only" 
          *ngIf="isActiveLink('/mockup')">(current)</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" 
          (click)="navigateToStudents()">
          Equipe 
          <span class="sr-only" 
            *ngIf="isActiveLink('/students')">(current)</span>
        </a>
      </li>

    </ul>

  </div>
</nav>

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>