<div class="container">

  <br>

  <div class="row">
    <div class="col">
      <h1 class="text-center">Canvas</h1>
    </div>
  </div>

  <div style="text-align:center" class="row">
    <div class="col">
      <br>
      <img src="assets/Canvas.jpg">
    </div>
  </div>

</div>
