<div class="container">

  <br>

  <div class="row">
    <h1 class="text-center col-12">Diagrama de caso de uso</h1>
  </div>

  <br>

  <div style="margin: 0px auto 0px auto" class="row">

    <div class="col-12">
  
      <div class="card" 
        style="text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/usecase.jpeg">
      </div>
  
    </div>
  
  </div>

  <br>

  <div class="row">
    <h1 class="text-center col-12">Diagrama de classe</h1>
  </div>

  <br>

  <div style="margin: 0px auto 0px auto" class="row">

    <div class="col-12">
  
      <div class="card" 
        style="text-align:center;margin: 0px auto 0px auto;">
  
        <img class="card-img-top" 
          src="assets/classdiagram.jpeg">
      </div>
  
    </div>
  
  </div>

</div>