<h1 class="text-center">Equipe</h1>
<br>
<div style="margin: 0px auto 0px auto" class="row">

  <div class="col-sm-3">

    <div class="card" 
      style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">

      <img class="card-img-top" 
        src="https://instagram.frec1-1.fna.fbcdn.net/vp/fa0a9899c9242359dc2a4f9bbce1cef2/5C159E5C/t51.2885-15/e35/29739347_2038490103060959_2342704630456123392_n.jpg">
      <div class="card-body">
        <p class="card-text">Allan Roque Barbosa Da Silva</p>
        <p class="card-text">1610013738 - P6</p>
      </div>

    </div>

  </div>

  <div class="col-sm-3">

      <div class="card" 
        style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
      
        <img class="card-img-top" 
          src="https://instagram.frec1-1.fna.fbcdn.net/vp/c1878ef4848f37bc5ee2230783da3251/5C1BEEA8/t51.2885-19/s150x150/36568786_235099647102008_532824262533185536_n.jpg">
        <div class="card-body">
          <p class="card-text">Aluizio Barbosa Maciel Neto</p>
          <p class="card-text">1610015465 - P6</p>
        </div>
    
      </div>

  </div>

  <div class="col-sm-3">

    <div class="card" 
      style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">
    
      <img class="card-img-top" 
        src="https://instagram.frec1-1.fna.fbcdn.net/vp/ccbcf51e7b600db6359ac248c017a732/5C3A936C/t51.2885-15/e35/916493_1558721807777138_676557315_n.jpg">
      <div class="card-body">
        <p class="card-text">Daniel Teixeira Patricio</p>
        <p class="card-text">1610013569 - P6</p>
      </div>
    
    </div>

  </div>

  <div class="col-sm-3">

    <div class="card" 
      style="width: 16rem;text-align:center;margin: 0px auto 0px auto;">

    <img class="card-img-top" 
      src="https://instagram.frec1-1.fna.fbcdn.net/vp/9ef0a8c360b5fa3525c999f05cf049a1/5C312D2E/t51.2885-15/e35/38775699_273809986542728_7620897830088998912_n.jpg">
    <div class="card-body">
      <p class="card-text">Jackson Fernandes Aragão Terceiro</p>
      <p class="card-text">1610014454 - P6</p>
    </div>

    </div>

  </div>

</div>
